# --- Postgres ---
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# --- Settings ---
DEBUG_MODE=

# --- External APIs ---
YOUTUBE_API_KEY=
SERPAPI_KEY=

# --- VPS SSH Tunnel Configuration ---
SSH_ENABLED=
SSH_HOST=
SSH_PORT=
SSH_USER=
# SSH_AUTH_TYPE=password
# SSH_PASSWORD=your_vps_ssh_password

# Or if using SSH Private Key:
SSH_AUTH_TYPE=
SSH_PRIVATE_KEY=
SSH_PASSPHRASE=

# --- Proxies (Apify) ---
# USE_PROXIES=True
# PROXY_HOST=proxy.apify.com
# PROXY_PORT=8000
# PROXY_PROTOCOL=http
# PROXY_USER=auto
# PROXY_PASSWORD=apify_proxy_5MLNWqejj4Q9HV5YhfktI8HiCvco333DpRdV

# NOCODB COOKIES

SESSION_PASSWORD=
COOKIE_SECURE=

# NOCODB

NOCODB_URL=
NOCODB_API_TOKEN=
NOCODB_BASE_ID=
NOCODB_TABLE_INFLUENCERS=
NOCODB_TABLE_ID_EMAIL_SENT=
NOCODB_TABLE_ID_ROSTER=
NOCODB_ENABLED=
